.imagem {
    margin-left: 45px;
    margin-right: 15px;
    margin-bottom: -70px;
    margin-top: 150px;
    width: 250px;
    height:175px; 
    background-color: rgb(255, 255, 255);
    position: relative;
}
.round {
        border-radius: 20px;
}
//
.space {
    width: 30px;
    display: inline;
}
.right {
    margin-right: 0px;
}
.jedi {
    height: 100%;
    width: 100%;
}
.link-mean-div {
    z-index: 2;
}
.anima {
    transition-duration: 1s;
    position: relative fixed;
    &:hover {
        width: 25%;
        height: 25%;
        z-index: 1;
    }
}
.link-mean {
    text-decoration: none;
    font-style: italic;
    color:black
}


@media screen and (max-width: 768px) {
    .imagem {
        margin-left: 25px;
        margin-right: 0.8px;
        margin-bottom: 5.1px;
        width: 148.75px;
        height: 104.12px;        
    }
    .anima {
        display:block;
    } 
}


@media (min-width: 769px) and (max-width: 1080px) {
    .imagem {
        //valores são a media do tamanho original e o tamanho de cell
        margin-left: 30px;
        margin-right: 1.5px;
        margin-bottom: 17px;
        width: 199px;
        height: 139px;       
    }
    .anima {
        display:block;
    }
    .mais {
        font-style: italic;
        font-family: 'MonteCarlo', cursive;
        font-size: 75px;
        text-decoration-line: none;
    }    
}