.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100%;
    // margin-left: -300px;
    background-color: white;
    }
html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}
.img--mean {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border: 2px;
}
.imagem {
    height: 175px;
    width: 250px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;

}
.anima {
    transition-duration: 1s;
    &:hover {
        position: relative;
        height: 25%;
        width: 25%;
        z-index: 50;
        overflow:visible
    }
}
.video-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    object-fit: cover;
}
.jedi {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.link-mean-div {
    z-index: 2;
}
.link-mean {
    text-decoration: none;
    font-style: italic;
    color:black
}


@media screen and (max-width: 768px) {
    .imagem {
        margin-left: 25px;
        margin-right: 0.8px;
        margin-bottom: 5.1px;
        width: 148.75px;
        height: 104.12px;        
    }
    .anima {
        display:block;
    } 
}


@media (min-width: 769px) and (max-width: 1080px) {
    .imagem {
        //valores são a media do tamanho original e o tamanho de cell
        margin-left: 30px;
        margin-right: 1.5px;
        margin-bottom: 17px;
        width: 199px;
        height: 139px;       
    }
    .anima {
        display:block;
    }
    .mais {
        font-style: italic;
        font-family: 'MonteCarlo', cursive;
        font-size: 75px;
        text-decoration-line: none;
    }    
}