.cursos {
    text-align: center;
}
.jedi {
    height: 100%;
    width: 100%;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;  
}
.imagem {
    margin-left: 150px;
    margin-bottom: 300px;
    margin-top: 300px;
    width: 300px;
    height:250px; 
}